[data-theme='dark'] {
    /* 字体颜色 */
    --login-panel-primary-text: #ffffff;
    --login-panel-secondary-text: #d3d3d4;
    --login-panel-tertiary-text: #acacad;

    /* 输入框颜色 */
    --login-input-background: #3c3c3c;
    --login-input-border: #3c3c3c;
    --login-input-placeholder-text: #cccccc;

    /* 按钮颜色 */
    --login-btn-primary-text: #ffffff;
    --login-btn-primary-background: #1f63f0;
    --login-btn-primary-hover-background: #5c9dff;
    --login-btn-primary-active-background: #246bfd;
    --login-btn-secondary-text: #ffffff;
    --login-btn-secondary-border: none;
    --login-btn-secondary-background: #484a4d;
    --login-btn-secondary-hover-text: #ffffff;
    --login-btn-secondary-hover-background: #656769;
    --login-btn-secondary-active-text: #ffffff;
    --login-btn-secondary-active-background: #3c3e40;
    --login-btn-tertiary-text: #d3d3d4;
    --login-btn-tertiary-hover-text: #5c9dff;
    --login-btn-tertiary-active-text: #246bfd;
    --logout-btn-text: #838385;

    /* 链接颜色 */
    --login-link-primary-text: #4287ff;
    --login-link-highlight-text: #4294ff;
    --login-link-active-text: #1e4f9e;

    /* 图标颜色 */
    --login-back-icon-background: rgba(255, 255, 255, 0.08);

    /* 辅助颜色 */
    --login-primary-dangerous: #f66f6a;

    /* 分割线颜色 */
    --login-split-line: #131415;
}
