[data-theme='light'] {
    /* 字体颜色 */
    --login-panel-primary-text: #48484d;
    --login-panel-secondary-text: #45474d;
    --login-panel-tertiary-text: #676c75;

    /* 输入框颜色 */
    --login-input-background: #ffffff;
    --login-input-border: #dcdfe6;
    --login-input-placeholder-text: #939399;

    /* 按钮颜色 */
    --login-btn-primary-text: #ffffff;
    --login-btn-primary-background: #246bfd;
    --login-btn-primary-hover-background: #4287ff;
    --login-btn-primary-active-background: #1653e0;
    --login-btn-secondary-text: #262729;
    --login-btn-secondary-border: 1px solid #dcdfe6;
    --login-btn-secondary-background: #ffffff;
    --login-btn-secondary-hover-text: #4287ff;
    --login-btn-secondary-hover-background: #ffffff;
    --login-btn-secondary-active-text: #1653e0;
    --login-btn-secondary-active-background: #ffffff;
    --login-btn-tertiary-text: #45474d;
    --login-btn-tertiary-hover-text: #4287ff;
    --login-btn-tertiary-active-text: #1653e0;
    --logout-btn-text: #676c75;

    /* 链接颜色 */
    --login-link-primary-text: #246bfd;
    --login-link-highlight-text: #526ecc;
    --login-link-active-text: #1e4f9e;

    /* 图标颜色 */
    --login-back-icon-background: rgba(0, 0, 0, 0.08);

    /* 辅助颜色 */
    --login-primary-dangerous: #f66f6a;

    /* 分割线颜色 */
    --login-split-line: #d5dce1;
}
