.DS_Store
*.log
*.tmp
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.obj
*.pdb
*.map
*.ilk
*.manifest
*.res
*.resx
*.vspscc
*.vssscc
*.vssscc
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
*.vcxproj.user
